/* foot.css */
.foot-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    /* gap: 10px;  */
    /* padding: 20px; */
    /* position: fixed; */
    background-color: #00274b;
  
  }
  .bold{
    font-size: 17px;
  }
  .menu{
    /* display: grid;
    grid-template-columns: repeat(12,auto);
    grid-gap: 10px; */
    list-style: none;
    /* align-items: center; */
    /* color: #fff; */
    /* text-align: center;
    justify-content: end; */
}
.icons{
    color:#CFF1FF;
    text-align: right;
    /* display: grid;
    grid-template-columns: repeat(12,auto);
    grid-gap: 10px; */
    list-style: none;
    /* align-items: center; */
     
}
  .fa-regular{
    font-weight: 900;
    padding: 10px;
    display: flex;
    color: #5D7F9E;
    align-items: center;
  }
  .fa-brands{
    margin: calc(18px / 2);
  }
  
  .foot-text {
     
    color:#CFF1FF;
    padding-left: 8px;
    font-size: 10px;
    letter-spacing: 2.5px;
    /* font-weight: 600; */
  }
  .foot-text1 {
   
    color:#5D7F9E;
    text-align: right;
    padding: 5px 5px;
    font-size: 14px;
    letter-spacing: .109rem;
    /* font-weight: 600; */
  }
  .foot-text2 {
     
    color:#CFF1FF;
    text-align: right;
    padding-top: 3%;
    font-size: 13px;
    letter-spacing: .109rem;
    /* font-weight: 600; */
  }
  .foot-item{
    /* width: 40%; */
    padding :3%;
  }
  @media(max-width: 991px) {
    .foot-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);  
     
      background-color: #00274b;
    
    }
    .icons,.foot-text1,.foot-text2 {
     
      padding-left: 5px;
      text-align:left;
      
    }
    ul.icons {
      padding-left: .5rem;
    }
  }
  @media(max-width: 640px) {
    .foot-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);  
     
      background-color: #00274b;
    
    }
    
  }
  
  